@{
     Layout = "_LayoutAuthorize";
 }


<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card">
            <img src="~/img/станция.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Управление диспетчерами</h5>
                <p class="card-text"></p>
                <a asp-action="Dispetcher" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="~/img/маршруты.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Управление пользователями</h5>
                <p class="card-text"></p>
                <a asp-action="User" class="btn btn-primary">Перейти</a>
            </div>
        </div>
    </div>
</div>